* {
     box-sizing: border-box;
}

/* Clear fix */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
display: flex;
flex-direction: column;
font-family: 'Roboto', Helvetica, sans-serif;
color: #E1E2E7;
background: rgb(50,51,61);
background: radial-gradient(circle, #98042D 10%, #BF4C41 100%);
display: flex;
}
button{
     background: #BF4C41;
     color: #E1E2E7;
     border: #FCC0C5 solid .33em;
}
button:hover {
     background: #98042D;
     transition: 400ms;
}

/******************************************
/* LAYOUT
/*******************************************/
div {
     width: 90%;
     height: 100em;
     margin: 0 5%;
     align-content: center;
     border: #FCC0C5 solid 1em;
     border-radius: 1em;
     box-shadow: 16px 16px 3px 2px rgba(0, 0, 0, .2);
}


@media (min-width:320px)  { 
     div {
          height: 95em;
     }
     h1 {
          font-size: 5em; 
          text-align: center;
          margin-bottom: 0;
     }
     span{
          text-align: center;
          font-size: 2.5em;
          margin: 0.5em 0;
     }
     img{
          height: 100%;
          width: 100%;
     }
     button {
          border-radius: 3em;
          border: #FCC0C5 solid .33em; 
          font-size: 2.5em;
          width: 6em;
          height: 6em;
          align-self: center;
          box-shadow: 4px 4px 1.5px .5px rgba(0, 0, 0, .2);
          margin-top: 0.5em;
          
     }
     }
@media (min-width:400px)  {
     div{
          height: 100em;
     }
     h1 {
          font-size: 5em; 
          text-align: center;
          margin-bottom: 0;
     }
     span{
          text-align: center;
          font-size: 2.5em;
          margin: 0.5em 0;
     }
     img{
          height: 100%;
          width: 100%;
     }
     button {
          border-radius: 3em; 
          font-size: 2.5em;
          width: 6em;
          height: 6em;
          align-self: center;
          box-shadow: 4px 4px 1.5px .5px rgba(0, 0, 0, .2);
          margin-top: 0.5em;
          
     }
     }
/* @media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) 
     div {
          height: 50em;
     }
     h1 {
          font-size: 2em; 
          text-align: center;
          font-weight: 700;
          margin-bottom: 0;
     }
     span{
          text-align: center;
          font-size: 1.5em;
     }
     img{
          height: 100%;
          width: 100%;
     }
     button {
          border-radius: 3em;
     
          font-size: 2.5em;
          width: 6em;
          height: 6em;
          align-self: center;
          box-shadow: 4px 4px 1.5px .5px rgba(0, 0, 0, .2);
          
     }
    } */
@media (min-width:801px)  {
     h1 {
          font-size: 5em; 
          text-align: center;
          font-weight: 700;
          margin-bottom: 0;
     }
     span{
          text-align: center;
          font-size: 2.5em;
     }
     img{
          height: 100%;
          width: 100%;
     }
     button {
          border-radius: 3em;
     
          font-size: 2.5em;
          width: 6em;
          height: 6em;
          align-self: center;
          box-shadow: 4px 4px 1.5px .5px rgba(0, 0, 0, .2);
          
     }
    }
@media (min-width:1025px) { 
     h1 {
          font-size: 5em; 
          text-align: center;
          margin-bottom: 0;
     }
     span{
          text-align: center;
          font-size: 2.5em;
     }
     img{
          height: 100%;
          width: 100%;
     }
     button {
          border-radius: 3em;
          font-size: 2.5em;
          width: 6em;
          height: 6em;
          align-self: center;
          box-shadow: 4px 4px 1.5px .5px rgba(0, 0, 0, .2);
          
     }
    }
@media (min-width:1281px) { 
     div{
          height: 45em;
          width: 80%;
          margin: 0 10%;
     }
     h1 {
          font-size: 2.5em; 
          text-align: center;
          margin-bottom: 0;
          
     }
     span{
          text-align: center;
          font-size: 1.5em;
          margin-top: .2em;
          margin-bottom: .5em;
     }
     img{
          height: 100%;
          width: 100%;
          
     }
     button {
          border-radius: 3em;
          font-size: 1.5em;
          width: 4em;
          height: 4em;
          align-self: center;
          margin-top: .8em;
          box-shadow: 4px 4px 1.5px .5px rgba(0, 0, 0, .2);
          
     }}